<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>list</title>
</head>
<body>
    <h1>Listagem</h1>
<table class="table">>

    <thead>
        <tr>
            <th>#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Idade</th>
            <th scope="col">Deletar</th>
            <th scope="col">Criar</th>
        </tr>
    </thead>
    <tbody>
    {% csrf_token %}
    {% for pessoa in pessoa %}
    <tr>
        <th scope="row"></th>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>
        <td><a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
        <td><a href = "{% url 'create' %}">Criar usuário</a></td>
    </tr>
    {% endfor%}
    </tbody>
</table>
</body>
</html>