{ % extends 'base.html' %}
{% block title %}Update{% endblock %}
{% block body %}
<form method="post">
    <h1>Atualizar dados</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button>Salvar</button>
    <button>Voltar</button>
</form>
{% endblock %}